<div class="depot_form">
  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>

</div>

<div class="wrapper">
  <form action="/login" class="form-signin" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="fV72t/9nkzCQZk3sgUqAM8pqf6MwPmShduznM3zCVkcQy6Hy/qhVfe3LMrIubBFzCvoK0CNdlnN74frcpN04qg==">
  <fieldset>
    <h2 class="form-signin-heading">Please login</h2>
  <%= text_field_tag :name, params[:name], class: 'form-control' %>
  <%= password_field_tag :password, params[:password], class: 'form-control' %>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
  </fieldset>
  </form>
</div>
