<h1 style="margin-left:72px;">Editing User</h1>

<%= render 'form', user: @user %>
<div class="col-md-7" style="margin-left:60px;"></div>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
