# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 16077074a3f59413857f59d285ad9eb505ad211c12e25e1d54214fe7fa27564fa863f7a8be8be6e0631428e1ae78b61962edba161a574676e4bc77814a99b05b

test:
  secret_key_base: 74fe59308d2db6ca6858eb94f66df8111398392adf3019510340eb5652f493de4a5621e48a799cdf24ac3a42a3cbc479fd58d09cf6e35f92875fc5da5a3366fe

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
