<h1 style="margin-left:72px;">Editing Product</h1>

<%= render 'form', product: @product %>

<div class="col-md-7" style="margin-left:60px;">
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
</div>